<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Tokee</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.pdf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.463664671853-udsh3qn0c0bj76g5nddoe02dq0sse001</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Please provide access to Camera to click and upload images in chat and also in video calling.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires access to your contacts to find friends who are using the same app. This permission is required for app to function well. In absence of this permission, the app may not work correctly.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please provide location permission.We use this permission in chat where user can share his location with other users.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please provide location permission.We use this permission in chat where user can share his location with other users.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please provide access to microphone.we use this permission while making calls and sharing recorded audio in chat.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App would like to access media from gallery in chat and profile section.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sarabun Bold.ttf</string>
		<string>Sarabun-Medium.ttf</string>
		<string>Sarabun-Bold.ttf</string>
		<string>Sarabun-Light.ttf</string>
		<string>Sarabun-SemiBold.ttf</string>
		<string>FeltCondolences-3zV06.otf</string>
		<string>Dancing_Script_copy.ttf</string>
		<string>Dearstory-7B79E.ttf</string>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>PartyStory-ZVA6z.ttf</string>
		<string>PinkStory-3lO6p.ttf</string>
		<string>Skateboarder-mL439.ttf</string>
		<string>brown-alexander.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
